// Put your custom styles here!
.judul
    color: blue;

h2
    color: cornflowerblue;

.deskripsi
    text-align center
// bespoke-progress styles

.spesifikasi
    text-align center

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 8px

.bespoke-progress-bar
  transition: width .6s ease
  position: absolute
  height: 100%
  background: green

.team
  text-align: justify


.tim ul 
  list-style-type: none

.tim li
  margin-top: 50px

.bespoke-bullet
  list-style none

.kecil 
  font-size 23px
// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
