// Put your custom styles here!
.judul
    color: blue;

h2
    color: cornflowerblue;

.deskripsi
    text-align center
// bespoke-progress styles

.spesifikasi
    text-align center

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 8px

.bespoke-progress-bar
  transition: width .6s ease
  position: absolute
  height: 100%
  background: green

.team
  text-align: justify


.tim ul 
  list-style-type: none

.tim li
  margin-top: 50px

.bespoke-bullet
  list-style none

.kecil 
  font-size 23px

.bespoke-slide{
    position: absolute;
    width: 1066.6666666666665px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-left: -533.3333333333333px;
    margin-top: -300px;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

h4
  margin-top 12px
// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
